
.icon-container {
    text-align: center;
    margin-bottom: 50px;
}

.social-icon {
    /*display: inline-block;*/
    width: 55px;
    margin: 15px;
}

.email-overlay {
    display: none;
}

.github-overlay {
    display: none;
}

.linkedin-overlay {
    display: none;
}
