html { 
  height: 100%; 
  width: 100%; 
  margin: 0;
}

p {
    Font-Family: 'Droid Serif', Serif;
    Font-Size: 15px;
}

body {
    background-color: #e5e5e5;
    height: 100%;
}

.container {
    width: 80%;
    background-color: white;
    max-width: 1100px;
    padding: 0px;
}

/* HEADER */
.header {
    height: 65px;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    max-width: 1100px;
    border-bottom: 2px solid grey;
}

.header-title {
    display: inline-block;
    width: 350px;
    Font-Family: 'Roboto', Sans-Serif;
    color: #2d2d2d;
    margin-left: 25px;
    margin-top: 10px;
}

/* NAVBAR */
.navbar {
    display: inline-block;
    width: 250px;
    text-align: center;
    margin-top: 17px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 10px;
    font-weight: bold;
    font-size: 16px;
    Font-Family: 'Roboto', Sans-Serif;
}

li a {
    color: #7aaec1;
}

li a:hover {
    color:#5e8fa0;
    text-decoration: none;
    font-weight: bolder;
}


/* HOME */
.img-flowers {
    background-image: url("../Images/flowers.JPG");
    height: 350px;
}

hr {
    width: 300px;
    text-align: center;
}

.body-title {
   Font-Family: 'Roboto', Sans-Serif;
    color: #2d2d2d;
    text-align: center;
    margin-top: 30px;
}

.body-container {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

.about-text {
    display: inline-block;
    width: 60%;
    max-width: 750px;
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 10px;
}

.standout-text {
    Font-Family: 'Roboto', Sans-Serif;
    font-weight: bold;
    text-align: left;
}

.profile-img {
    display: inline-block;
    vertical-align: top;
    margin-left: 0%;
    margin-right: 4%;
    margin-top: 7%;
    width: 30%;
    max-width: 300px;
    text-align: right;
    border-radius: 100%;
    border: solid #8ed18e;
}

/* PORTFOLIO */
.portfolio-container {
    text-align: center;
}

.project-container {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    max-width: 350px;
    text-align: center;
    margin: 20px 30px 20px 30px;
}

.project-title {
    Font-Family: 'Roboto', Sans-Serif;
    text-align: center;
}

.screenshot {
    width: 100%;
    margin-bottom: 15px;
}

.active-gif {
    display: none;
}

.technologies {
    color: #7aaec1;
    font-weight: bold;
}

.repository-link {
    font-size: 14px;
    color: grey;
    font-style: italic;
}

.repository-link:hover {
    color: #5e8fa0;
}

/* SKILLS */


.skills {
    display: inline-block;
    width: 50%;
    max-width: 550px;
    /*text-align: left;*/
}

/* CONNECT */

.icon-container {
    text-align: center;
    margin-bottom: 30px;
}

.social-icon {
    width: 55px;
    margin: 15px;
}

.email-overlay {
    display: none;
}

.github-overlay {
    display: none;
}

.linkedin-overlay {
    display: none;
}

.resume-overlay {
    display: none;
}


/* BASEDECK */
.basedeck-container {
    background-color: grey;
    height: 45px;
    margin: 0px;
    text-align: center;
}

.copyright {
    Font-Family: 'Roboto', Sans-Serif;
    padding-top: 13px;
    color: white;
    font-size: 12px;
}

@media only screen and (max-width: 1100px) {

    /*.profile-img {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 20px 0px 10px 0px;
        border: solid #8ed18e;
            
    }*/
    

    .about-text {
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .standout-text {
        text-align: center;
    }

    .body-container {
        text-align: center;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        width: 100%;
    }

    .header {
        width: 100%;
    }

    .project-container {
        width: 100%;
    }

    p {
        font-size: 18px;
    }    
}